{% extends 'base.html' %}
{% load static %}

{% block title %}
    Church Planter Pathway
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="flex flex-col items-center">
    <div class="flex flex-col items-start justify-center w-full min-h-[100vh] md:min-h-[90vh] bg-cover bg-center px-4 sm:px-8 lg:px-16" style="background-image: url({% static 'assets/home_background_01.jpg' %});">
        <div class="flex flex-col md:ml-12 md:gap-4 gap-2 text-center sm:text-left fade-in-up">
            <div class="flex flex-col">
                <h1 class="flex gap-4 text-white font-bold text-5xl sm:text-6xl lg:text-[5.1rem] w-full sm:w-4/5 lg:w-1/2 tracking-tight">
                    Church <span style="color: var(--secondary-color-dark);">Planter</span>
                </h1>
                <h1 class="font-bold text-[4rem] sm:text-6xl lg:text-[8.5rem] w-full sm:w-4/5 lg:w-2/3 tracking-tight mt-[-1.3rem] text-white">
                    Pathway
                </h1>
            </div>
            <div class="flex flex-col gap-2 md:gap-3 max-w-lg px-4 sm:max-w-xl lg:max-w-2xl md:mt-0">
                <p class="text-white text-sm sm:text-lg lg:text-2xl leading-relaxed">
                    Perhaps you have sensed God moving in you to start a new church. We have a development process that will prepare you. Starting a new church can be daunting and difficult, but we are here to walk with you every step of the way. For RCN church planters, pathway costs are underwritten by the network.
                </p>
            </div>
        </div>
    </div>


    <div class="flex flex-col pt-24 items-center gap-24 md:gap-32 w-full min-h-[100vh] bg-cover bg-center">
        <div class="flex flex-col items-center gap-12">
          
          <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
            <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
              <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                Step 01: <b class="text-[#AAB1B2] font-bold">RCN Orientation</b>
              </h1>
              <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                expand_circle_down
              </span>
            </div>
            <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
              Learn in depth the vision, values, mission, beliefs, ethos and multiplying leader approach of Reproducing Churches. Engage with others who will help you on the journey and support you in the process. <b>Scheduled appointment. Time: 2 hours.</b>
            </h4>
          </div>
      
          <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
            <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
              <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                Step 02: <b class="text-[#AAB1B2] font-bold">Discover Church Planting</b>
              </h1>
              <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                expand_circle_down
              </span>
            </div>
            <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
              Understand the key characteristics and behaviors of successful church planters. Learn the overview of church planting and hear stories of those who have planted churches. Meet others who are exploring a call to start a new church. <b>This is a scheduled event. Time: 3 hours.</b>
            </h4>
          </div>
      
          <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
            <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
              <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                Step 03: <b class="text-[#AAB1B2] font-bold">Engage Church Planting</b>
              </h1>
              <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                expand_circle_down
              </span>
            </div>
            <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
              Begin the process of forming a plan for a prayer team, raising funds, sharing your faith, and engaging the community strategically. <b>This is a one-day training. Time: 8 hours.</b>
            </h4>
          </div>
      
          <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
            <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
              <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                Step 04: <b class="text-[#AAB1B2] font-bold">Church Planter Assessment</b>
              </h1>
              <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                expand_circle_down
              </span>
            </div>
            <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
              This is a time of personal evaluation of your ability to start a new church by experienced church planters. This evaluation is partly based on the homework accomplished in the Engage Church Planting class and your personality inventories. <b>This is a one-day event. Time: 8 hours. Some pre-work involved.</b>
            </h4>
          </div>
      
          <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
            <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
              <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                Step 05: <b class="text-[#AAB1B2] font-bold">Church Plant Strategy</b>
              </h1>
              <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                expand_circle_down
              </span>
            </div>
            <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
              Develop an overally strategy for your church plant and the related corresponding systems and processes to undergird your strategy approach. Work completed from Engage Church Planting and your assessment will be valuable for this learning. Once completed you will be assigned a church planting coach. <b>This is a two-day event. Time is 16 hours.</b>
            </h4>
          </div>
      
        </div>
    </div>
      
    <div class="flex flex-col py-24 items-center gap-24 md:gap-32 w-full min-h-[100vh] bg-cover bg-center px-6 sm:px-12 mt-24" style="background-color: aliceblue;">
        <div class="text-center fade-in-up w-full max-w-5xl mx-auto">
            <h1 class="font-bold text-[2.5rem] sm:text-6xl lg:text-[6.25rem] tracking-tight w-full"
                style="color: var(--secondary-color-dark);">
                Ongoing <span class="text-[#AAB1B2] font-bold">Support</span>
            </h1>
        </div>
    
        <div class="flex flex-col items-start justify-center gap-12 w-full max-w-5xl mx-auto">
    
            <div class="flex flex-col items-start gap-6 w-full">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
                    <h1 class="text-lg sm:text-xl lg:text-2xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        RCN <b class="text-[#AAB1B2] font-bold">Gatherings</b>
                    </h1>
                </div>
                <h4 class="text-base sm:text-lg lg:text-2xl w-full" style="color: var(--secondary-color-dark);">
                    Attend an ongoing Reproducing Churches Network Gathering in your area to pray, encourage and collaborate with others to establish new expressions of the church to reach people for Christ in your area. <b>Network Groups meet monthly or bi-monthly. Time is 2 hours.</b>
                </h4>
            </div>
    
            <div class="flex flex-col items-start gap-6 w-full">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
                    <h1 class="text-lg sm:text-xl lg:text-2xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        <b class="font-bold">Coaching</b>
                    </h1>
                </div>
                <h4 class="text-base sm:text-lg lg:text-2xl w-full" style="color: var(--secondary-color-dark);">
                    Meet with your assigned coach regularly to talk though challenges and opportunities in your new church. Construct possible solutions and initiatives to move the new church forward. <b>Coaching is monthly. Time is one hour.</b>
                </h4>
            </div>
    
            <div class="flex flex-col items-start gap-6 w-full">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
                    <h1 class="text-lg sm:text-xl lg:text-2xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        <b class="font-bold">Funding</b>
                    </h1>
                </div>
                <h4 class="text-base sm:text-lg lg:text-2xl w-full" style="color: var(--secondary-color-dark);">
                    Every new church plant will be evaluated for possible funding grants. Evaluation for funding is based on the progress of the church plant. Application for financial assistance is given by the church planter coach. <b>These are one-time grants given successively as milepost are completed.</b>
                </h4>
            </div>
    
            <div class="flex flex-col items-start gap-6 w-full">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
                    <h1 class="text-lg sm:text-xl lg:text-2xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Ongoing <b class="text-[#AAB1B2] font-bold">Training</b>
                    </h1>
                </div>
                <h4 class="text-base sm:text-lg lg:text-2xl w-full" style="color: var(--secondary-color-dark);">
                    Regular webinars, in person trainings, multiplying leader cohorts and the Annual Live Sent Conference are available. <b>Check the calendar for upcoming events.</b>
                </h4>
            </div>
    
        </div>
    </div>
      
</div>

<script>
    function updateNavbarColor() {
        if (!$('#mobile-menu').hasClass('hidden') || $(window).scrollTop() > 50) {
            $('#navbar').css('background', '#6FD4A8');
        } else {
            $('#navbar').css('background', 'transparent');
        }
    }
</script>
{% endblock %}
