{% extends 'base.html' %}
{%  load static %}

{% block title %}

    Reproducing Churches

{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="flex flex-col items-center">
    <div class="flex flex-col items-start justify-center w-full min-h-[100vh] md:min-h-[90vh] bg-cover bg-center px-4 sm:px-8 lg:px-16" style="background-image: url({% static 'assets/home_background_02.jpg' %});">
        <div class="flex flex-col md:ml-12 md:gap-2 gap-2 text-center sm:text-left fade-in-up">
            <div class="flex flex-col">
                <h1 class="text-white font-bold text-6xl sm:text-6xl lg:text-[6.25rem] w-full sm:w-4/5 lg:w-2/3 tracking-tight">
                    Coaching
                </h1>
            </div>
            <div class="flex flex-col gap-2 md:gap-3 max-w-lg px-4 sm:max-w-xl lg:max-w-2xl md:mt-0">
                <p class="text-white text-sm sm:text-lg lg:text-xl leading-relaxed">
                    In the heart of every pastor and non-profit leader lies a vision that can transform communities and inspire change. But even the most passionate leaders can face challenges that seem insurmountable. That's where Reproducing Churches steps into <b>guide, support, and empower you throught coaching</b> tailored specidically for your unique journey.
                </p>
            </div>
        </div>
    </div>

    <div class="flex flex-col py-24 items-center gap-24 md:gap-32 w-full min-h-[100vh] bg-cover bg-center">
        <div class="flex flex-col md:w-1/2 gap-6 md:gap-8 text-center">
            <h1 class="text-2sm sm:text-lg lg:text-2xl w-full sm:w-3/4 lg:w-full" style="color: var(--secondary-color-dark);"><b>WHY</b> COACHING?</h1>
            <h4 class="text-2sm md:px-0 px-8 sm:text-lg lg:text-3xl w-full sm:w-3/4 lg:w-full" style="color: var(--secondary-color-dark);">
                In a world that's constantly changing, the demands on pastors and non-profit leaders have never been higher. Coaching provides the clarity, direction, and motivation needed to navigate these challenges and achieve your goals. <b>Here's how Reproducing Churches can make a difference:</b>
            </h4>
        </div>
        <div class="flex flex-col items-center gap-12">
            <div class="flex flex-col items-center gap-6">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-2/3" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Personalized <b class="text-[#AAB1B2] font-bold">Growth Plans</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm md:px-0 px-8 sm:text-lg lg:text-3xl w-full sm:w-3/4 lg:w-2/3" style="color: var(--secondary-color-dark);">
                    Your mission is unique. Our coaching is too. Together, we'll develop a strategy that aligns with your values and vision, helping you grow your organization while staying true to your calling
                </h4>
            </div>

            <div class="flex flex-col items-center gap-6">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-2/3" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Enhanced <b class="text-[#AAB1B2] font-bold">Leadership Skills</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm md:px-0 px-8 sm:text-lg lg:text-3xl w-full sm:w-3/4 lg:w-2/3" style="color: var(--secondary-color-dark);">
                    From communication to conflict resolution, we'll equip you with the tools and techniques to lead with confidence and inspire your team. Elevate your leadership, and watch as your organization reaches new heights
                </h4>
            </div>

            <div class="flex flex-col items-center gap-6">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-2/3" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Increased <b class="text-[#AAB1B2] font-bold">impact</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm md:px-0 px-8 sm:text-lg lg:text-3xl w-full sm:w-3/4 lg:w-2/3" style="color: var(--secondary-color-dark);">
                    With our support, you'll not only achieve your goals but exceed them. We'll help you mobilize your resources more effectively, engage your community more deeply, and make a lasting difference in the lives of those you serve.
                </h4>
            </div>

            <div class="flex flex-col items-center gap-6">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-2/3" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Supportive <b class="text-[#AAB1B2] font-bold">Community</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm md:px-0 px-8 sm:text-lg lg:text-3xl w-full sm:w-3/4 lg:w-2/3" style="color: var(--secondary-color-dark);">
                    You're not alone. Join a network of like-minded leaders who share your passion and understand your challenges. Together, we'll share insights, offer encouragement, and celebrate every victory along the way.
                </h4>
            </div>
        </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-6 justify-center items-center w-full min-h-[80vh] bg-cover bg-center px-4 sm:px-8 lg:px-16" style="background-image: url({% static 'assets/home_background_02.jpg' %});">
        <div class="flex flex-col md:ml-12 gap-4 w-full lg:w-1/2 text-center lg:text-left fade-in-up">
            <div class="flex flex-col">
                <h1 class="text-white font-bold text-[3.4rem] sm:text-6xl lg:text-[7rem] tracking-tight">
                    Coaching
                </h1>
                <h1 class="font-bold md:mt-[-1rem] mt-[-1.8rem] text-[2.8rem] sm:text-6xl lg:text-[5.75rem] tracking-tight z-10" style="color: var(--secondary-color-dark);">
                    Opportunities
                </h1>
            </div>
            <p class="text-white text-sm sm:text-lg px-4 lg:text-xl leading-relaxed max-w-lg sm:max-w-xl lg:max-w-2xl md:mt-0 mt-[-1rem]" style="color: var(--secondary-color-dark);">
                Ready to unlock your potential and take yout leadership to the next level? Embark on your Coaching Journey Today! Sign Up today! <b>Fill out the contact form for coaching here.</b> Learn more about our coaching services for pastors and non-profit leaders. These are some of the coaching Opportunities you can take advantage of:
            </p>
        </div>
        <div class="flex flex-col gap-6 w-full lg:w-1/2 mt-6 md:mr-6 lg:mt-0 px-4">

        </div>
    </div>
    
</div>


{% endblock %}