{% extends 'base.html' %}
{%  load static %}

{% block title %}

    Coaching

{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="flex flex-col items-center">
    <div class="flex flex-col items-start justify-center w-full min-h-[100vh] md:min-h-[90vh] bg-cover bg-center px-4 sm:px-8 lg:px-16" style="background-image: url({% static 'assets/home_background_02.jpg' %});">
        <div class="flex flex-col md:ml-12 md:gap-2 gap-2 text-center sm:text-left fade-in-up">
            <div class="flex flex-col">
                <h1 class="text-white font-bold text-6xl sm:text-6xl lg:text-[6.25rem] w-full sm:w-4/5 lg:w-2/3 tracking-tight">
                    Coaching
                </h1>
            </div>
            <div class="flex flex-col gap-2 md:gap-3 max-w-lg px-4 sm:max-w-xl lg:max-w-2xl md:mt-0">
                <p class="text-white text-sm sm:text-lg lg:text-2xl leading-relaxed">
                    In the heart of every pastor and non-profit leader lies a vision that can transform communities and inspire change. But even the most passionate leaders can face challenges that seem insurmountable. That's where Reproducing Churches steps into <b>guide, support, and empower you throught coaching</b> tailored specidically for your unique journey.
                </p>
            </div>
        </div>
    </div>

    <div class="flex flex-col py-24 items-center gap-24 md:gap-32 w-full min-h-[100vh] bg-cover bg-center">
        <div class="flex flex-col md:w-1/2 gap-6 md:gap-8 text-center">
            <h1 class="text-2sm sm:text-lg lg:text-2xl w-full sm:w-3/4 lg:w-full" style="color: var(--secondary-color-dark);"><b>WHY</b> COACHING?</h1>
            <h4 class="text-2sm md:px-0 px-8 sm:text-lg lg:text-3xl w-full sm:w-3/4 lg:w-full" style="color: var(--secondary-color-dark);">
                In a world that's constantly changing, the demands on pastors and non-profit leaders have never been higher. Coaching provides the clarity, direction, and motivation needed to navigate these challenges and achieve your goals. <b>Here's how Reproducing Churches can make a difference:</b>
            </h4>
        </div>
        <div class="flex flex-col items-center gap-12">
            <div class="flex flex-col items-center gap-6">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-2/3" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Personalized <b class="text-[#AAB1B2] font-bold">Growth Plans</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm md:px-0 px-8 sm:text-lg lg:text-3xl w-full sm:w-3/4 lg:w-2/3" style="color: var(--secondary-color-dark);">
                    Your mission is unique. Our coaching is too. Together, we'll develop a strategy that aligns with your values and vision, helping you grow your organization while staying true to your calling
                </h4>
            </div>

            <div class="flex flex-col items-center gap-6">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-2/3" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Enhanced <b class="text-[#AAB1B2] font-bold">Leadership Skills</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm md:px-0 px-8 sm:text-lg lg:text-3xl w-full sm:w-3/4 lg:w-2/3" style="color: var(--secondary-color-dark);">
                    From communication to conflict resolution, we'll equip you with the tools and techniques to lead with confidence and inspire your team. Elevate your leadership, and watch as your organization reaches new heights
                </h4>
            </div>

            <div class="flex flex-col items-center gap-6">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-2/3" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Increased <b class="text-[#AAB1B2] font-bold">impact</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm md:px-0 px-8 sm:text-lg lg:text-3xl w-full sm:w-3/4 lg:w-2/3" style="color: var(--secondary-color-dark);">
                    With our support, you'll not only achieve your goals but exceed them. We'll help you mobilize your resources more effectively, engage your community more deeply, and make a lasting difference in the lives of those you serve.
                </h4>
            </div>

            <div class="flex flex-col items-center gap-6">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-2/3" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Supportive <b class="text-[#AAB1B2] font-bold">Community</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm md:px-0 px-8 sm:text-lg lg:text-3xl w-full sm:w-3/4 lg:w-2/3" style="color: var(--secondary-color-dark);">
                    You're not alone. Join a network of like-minded leaders who share your passion and understand your challenges. Together, we'll share insights, offer encouragement, and celebrate every victory along the way.
                </h4>
            </div>
        </div>
    </div>

    <div class="flex flex-col py-24 items-center gap-24 md:gap-32 w-full min-h-[100vh] bg-cover bg-center px-6 sm:px-12 mt-24" style="background-color: aliceblue;">
        <div class="text-center fade-in-up w-full max-w-5xl mx-auto">
            <h1 class="font-bold text-[2.5rem] sm:text-6xl lg:text-[6.25rem] tracking-tight w-full"
                style="color: var(--secondary-color-dark);">
                Coaching <span class="text-[#AAB1B2] font-bold">Opportunities</span>
            </h1>
        </div>
    
        <div class="flex flex-col items-start justify-center gap-12 w-full max-w-5xl mx-auto">
    
            <div class="flex flex-col items-start gap-6 w-full">
                <h4 class="text-base sm:text-lg lg:text-2xl w-full" style="color: var(--secondary-color-dark);">
                    Ready to unlock your potential and take your leadership to the next level? Embark on your Coaching Journey Today! <b>Fill out the contact form for coaching here.</b> Learn more about our coaching services for pastors and non-profit leaders. These are some of the coaching opportunities you can take advantage of:
                </h4>
            </div>
    
            <div class="flex flex-col items-start gap-6 w-full">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
                    <h1 class="text-lg sm:text-xl lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Strengths Based <b class="text-[#AAB1B2] font-bold">Coaching</b>
                    </h1>
                </div>
                <h4 class="text-base sm:text-lg lg:text-2xl w-full" style="color: var(--secondary-color-dark);">
                    We use Clifton Strengths Online Talent Assessment as the primary tool for our personal coaching conversations. Discover your talents and gifts and how you can leverage them for exponential impact in your life.
                    <br><br>
                    <b>Includes: 4 Coaching Sessions, Orientation Assessment, and Next Steps.</b>
                    <br><a href="#" class="text-lg font-medium underline" style="color: #AAB1B2;">Click here</a>
                </h4>
            </div>
    
            <div class="flex flex-col items-start gap-6 w-full">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
                    <h1 class="text-lg sm:text-xl lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Life <b class="text-[#AAB1B2] font-bold">Coaching</b>
                    </h1>
                </div>
                <h4 class="text-base sm:text-lg lg:text-2xl w-full" style="color: var(--secondary-color-dark);">
                    Partner with one of our life coaches to set goals and actionable plans for personal growth as well as assist you in navigating life challenges and transitions with clarity and wisdom.
                    <br><a href="#" class="text-lg font-medium underline" style="color: #AAB1B2;">Click here</a>
                </h4>
            </div>
    
            <div class="flex flex-col items-start gap-6 w-full">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
                    <h1 class="text-lg sm:text-xl lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Strategic Ministry <b class="text-[#AAB1B2] font-bold">Coaching</b>
                    </h1>
                </div>
                <h4 class="text-base sm:text-lg lg:text-2xl w-full" style="color: var(--secondary-color-dark);">
                    Connect with one of our strategy coaches to help you set goals and actionable plans for professional growth and development. Gain focus, direction and guidance for your present or future work as well as design an effective organizational ministry plan.
                    <br><a href="#" class="text-lg font-medium underline" style="color: #AAB1B2;">Click here</a>
                </h4>
            </div>
    
        </div>
    </div>
    
    
    
    
</div>


{% endblock %}