{% extends 'base.html' %}
{% load static %}

{% block title %}
    Existing Church Pathway
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="flex flex-col items-center">
    <div class="flex flex-col items-start justify-center w-full min-h-[100vh] md:min-h-[90vh] bg-cover bg-center px-4 sm:px-8 lg:px-16" style="background-image: url({% static 'assets/home_background_02.jpg' %});">
        <div class="flex flex-col md:ml-12 md:gap-4 gap-2 text-center sm:text-left fade-in-up">
            <div class="flex flex-col">
                <h1 class="flex gap-4 text-white font-bold text-5xl sm:text-6xl lg:text-[5.1rem] w-full sm:w-4/5 lg:w-1/2 tracking-tight">
                    Existing <span style="color: var(--secondary-color-dark);">Church</span>
                </h1>
                <h1 class="font-bold text-[4rem] sm:text-6xl lg:text-[8.5rem] w-full sm:w-4/5 lg:w-2/3 tracking-tight mt-[-1.3rem] text-white">
                    Pathway
                </h1>
            </div>
            <div class="flex flex-col gap-2 md:gap-3 max-w-lg px-4 sm:max-w-xl lg:max-w-2xl md:mt-0">
                <p class="text-white text-sm sm:text-lg lg:text-2xl leading-relaxed">
                    This pathway is designed for established churches looking to multiply, revitalize, or expand their impact. With guided steps and continued support, your church can experience a new wave of mission, outreach, and transformation. Let’s partner together for Kingdom growth.
                </p>
            </div>
        </div>
    </div>

    
    <div class="flex flex-col py-24 items-center gap-24 md:gap-32 w-full min-h-[100vh] bg-cover bg-center">
        <div class="flex flex-col items-center gap-12">
          
          <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
            <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
              <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                Step 01: <b class="text-[#AAB1B2] font-bold">RCN Orientation</b>
              </h1>
              <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                expand_circle_down
              </span>
            </div>
            <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
                Learn in depth the vision, values, mission, beliefs, ethos and multiplying leader approach of Reproducing Churches. Engage with others who will help you on the journey and support you in the process. <b>Scheduled appointment. Time: 2 hours. No cost.</b>
            </h4>
          </div>
      
          <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
            <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
              <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                Step 02: <b class="text-[#AAB1B2] font-bold">Review Of Church Health</b>
              </h1>
              <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                expand_circle_down
              </span>
            </div>
            <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
                Enlist a Reproducing Churches Consultant to help you assess and evaluate your church’s health. Organizational and Leadership development reccomendations are made. Next Step is attending the Church Blueprint Training. <b>Optional services available. Cost varies. Time: one day consult is standard.</b>
            </h4>
          </div>
      
          <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
            <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
              <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                Step 03: <b class="text-[#AAB1B2] font-bold">Church Blueprint: Strategy and Systems for Multiplication</b>
              </h1>
              <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                expand_circle_down
              </span>
            </div>
            <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
                Develop an overally strategy for your church. Review systems and processes to undergird your new strategy approach. Work completed from your church evaluation will be applied in this training. <b>This is a two-day event. Time is 16 hours</b>
            </h4>
          </div>
      
          <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
            <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
              <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                Step 04: <b class="text-[#AAB1B2] font-bold">Coaching</b>
              </h1>
              <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                expand_circle_down
              </span>
            </div>
            <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
                Meet with your RCN coach to talk though challenges and opportunities in your execution of the church strategy blueprint. Receive encouragement and ideas to keep you and your church moving forward.
            </h4>
          </div>
      
          <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
            <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
              <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                Step 05: <b class="text-[#AAB1B2] font-bold">Ongoing Training and Gatherings</b>
              </h1>
              <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                expand_circle_down
              </span>
            </div>
            <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
                Attend RCN Gatherings in your area. Take advantage of regular webinars, in person trainings, multiplying leader cohorts and the Annual Live Sent Conference are available. <b>Check the calendar for upcoming events and gatherings.</b>
            </h4>
          </div>
      
        </div>
    </div>
</div>
{% endblock %}
