{% extends 'base.html' %}
{% load static %}

{% block title %}
    Marketplace Leader Pathway
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="flex flex-col items-center">
    <div class="flex flex-col items-start justify-center w-full min-h-[100vh] md:min-h-[90vh] bg-cover bg-center px-4 sm:px-8 lg:px-16" style="background-image: url({% static 'assets/home_background_01.jpg' %});">
        <div class="flex flex-col md:ml-12 md:gap-4 gap-2 text-center sm:text-left fade-in-up">
            <div class="flex flex-col">
                <h1 class="flex gap-4 text-white font-bold text-5xl sm:text-6xl lg:text-[5.1rem] w-full sm:w-4/5 lg:w-1/2 tracking-tight">
                    Marketplace <span style="color: var(--secondary-color-dark);">Leader</span>
                </h1>
                <h1 class="font-bold text-[4rem] sm:text-6xl lg:text-[8.5rem] w-full sm:w-4/5 lg:w-2/3 tracking-tight mt-[-1.3rem] text-white">
                    Pathway
                </h1>
            </div>
            <div class="flex flex-col gap-2 md:gap-3 max-w-lg px-4 sm:max-w-xl lg:max-w-2xl md:mt-0">
                <p class="text-white text-sm sm:text-lg lg:text-2xl leading-relaxed">
                    This pathway is designed for marketplace leaders who want to live sent in their place of business. With practical tools, spiritual formation, and relational support, you'll be equipped to integrate faith and work with Kingdom impact.
                </p>
            </div>
        </div>
    </div>

    <div class="flex flex-col py-24 items-center gap-24 md:gap-32 w-full min-h-[100vh] bg-cover bg-center">
        <div class="flex flex-col items-center gap-12">

            <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Step 01: <b class="text-[#AAB1B2] font-bold">Live Sent Orientation</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
                    Learn in depth the vision, values, mission, beliefs, ethos and multiplying leader approach of RCN Marketplace. Learn practically how to live sent in your place of business. Engage with others who will support you. <b>Scheduled appointment. Time: 2 hours. No cost.</b>
                </h4>
            </div>

            <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Step 02: <b class="text-[#AAB1B2] font-bold">Life Mission Retreat</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
                    Understand your God story. Learn your strengths. Identify your resources and put a plan together to intentionally live sent every day. <b>Scheduled throughout the year. Time: 2 days. Cost varies on location.</b>
                </h4>
            </div>

            <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Step 03: <b class="text-[#AAB1B2] font-bold">Live Sent Gatherings</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
                    Collaborate with other marketplace leaders who are also living sent in the workplace. Pray, encourage, and design a plan to reach others for Christ in your area. <b>Regular meetings. No Cost.</b>
                </h4>
            </div>

            <div class="flex flex-col items-center gap-6 w-full sm:w-3/4 lg:w-2/3">
                <div class="flex justify-between gap-4 border-b pb-4 items-center w-full" style="border-color: #79797969;">
                    <h1 class="text-[1.1rem] sm:text-lg lg:text-3xl font-semibold flex-1" style="color: var(--secondary-color-dark);">
                        Step 04: <b class="text-[#AAB1B2] font-bold">Business as Mission (Optional)</b>
                    </h1>
                    <span class="material-symbols-outlined text-4xl sm:text-5xl font-light" style="color: var(--secondary-color-dark);">
                        expand_circle_down
                    </span>
                </div>
                <h4 class="text-2sm px-6 sm:px-0 sm:text-lg lg:text-2xl" style="color: var(--secondary-color-dark);">
                    Learn multiple intentional approaches to leading a business that makes an impact for Christ. Craft a customized approach to leading your business on mission. Regular coaching is available as well. RCN partners with <a href="https://www.kineogroup.org" class="underline text-blue-600" target="_blank">Kineo Group</a> – a Christian business consulting group.
                </h4>
            </div>

        </div>
    </div>
</div>
{% endblock %}
